body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    background: url('https://img.freepik.com/free-photo/high-angle-uncompleted-voting-questionnaire_23-2148265549.jpg?w=2000');
}

h1 {
    text-align: center;
    font-size: 35px;
}

.survey-form {
    padding: 20px;
    background-color: white;
    width: 600px;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 5px;
}

.survey-form .form-group {
    padding-bottom: 15px;
}

.survey-form .form-group label {
    display: block;
    margin-bottom: 1px;
}

.survey-form #name,
#email,
textarea {
    padding: 8px;
    width: 97%;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
}

#submit {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

#age,
#dropdown {
    padding: 8px;
    width: 97%;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
}